@import url(./components/buttonsAndInputs.css);
@import url(./components/header.css);

section {
    height: 91.8vh;
    background-image: url(../img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

section div {
    margin-top: 5%;
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    width: 26%;
    height: 28.75rem;
    padding: 2.25rem;
    gap: 20px;
}

section div h2 {
    font-size: 36px;
    font-weight: 700;
}

section div p {
    font-size: 18px;
    font-weight: 500;
}

section div form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.btn-modfier {
    width: 100%;
}