@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif;;
}
.container{
    padding: 0 20%;
    }
:root {
    --brand100:#FFFFFF ;
    --brand200: #0000FF;
    --gray100: #000000;
}